<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <div style="display: flex; gap: 800px;">
        <p>This is the main page of the application.</p>
        <button style="padding: 10px 20px;"><a href="/profilePage">View Profile</a></button>
    </div>
    <br>
    <br>
    <div style="display: flex; gap: 40px">

        <button type="submit"><a href="/createOrder">Create Order</a></button>
        <button><a href="/orders">View Orders</a></button>
        <button type="submit"><a href="/updateOrder">Update Order</a></button>
        <button type="submit"><a href="/uploadOrders">Upload Order</a></button>

    </div>
    <br>
    <br>


    <script>
        console.log("Home page loaded successfully.");
    </script>
    
</body>
</html>