<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/png" href="/images/brza_pratka_logo.svg"> <!--FAVICON-->
    <script src="https://kit.fontawesome.com/5c1a15adf2.js" crossorigin="anonymous"></script> <!--ICONS-->
    <title>Brza Pratka Dashboard</title>
</head>
<body>
    <header>
        <img src="/images/brza_pratka_logo.png" alt="Brza Pratka Logo" width="100px">
        <h1>Brza Pratka Dashboard</h1>
        <a href="/profilePage"><i class="fas fa-user fa-2xl"></i></a>
    </header>

    <div class="actions">
        <a href="/createOrder">Create Order</a>
        <a href="/orders">View Orders</a>
        <a href="/updateOrder">Update Order</a>
        <a href="/uploadOrders">Upload Order</a>
        <a href="/pages/login.html">Login</a>
    </div>


    <script>
        console.log("Home page loaded successfully.");
    </script>
    
</body>
</html>