<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css"> <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/png" href="/images/brza_pratka_logo.svg"> <!--FAVICON-->
    <script src="https://kit.fontawesome.com/5c1a15adf2.js" crossorigin="anonymous"></script> <!--ICONS-->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> <!-- ALPINE.js -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>

    <title>Sign up | Brza Pratka</title>
</head>
<body>
    <!-- Header -->
    <div id="header"></div>

    <div class="min-h-screen flex justify-center items-center my-10 lg:my-20 px-4">
        <form  id="signup" action="/api/signup" method="POST"
              class="w-full max-w-[480px] bg-white p-8 rounded-xl shadow-lg">

            <h1 class="text-2xl font-bold text-center mb-6">Sign up</h1>

            <!-- Name -->
            <div class="relative mb-3">
                <label class="block mb-1 font-semibold text-gray-800">Name:</label>
                <input type="text" name="name" required
                        class="w-full border border-gray-300 rounded-md px-10 py-2 text-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none">
                <i class="fa-solid fa-user absolute left-3 top-[39px] text-gray-700"></i>
            </div>

            <!-- Phone -->
            <div class="relative mb-3">
                <label class="block mb-1 font-semibold text-gray-800">Phone:</label>
                <input type="text" name="phone" placeholder="Example: 071234567" required
                        class="w-full border border-gray-300 rounded-md px-10 py-2 text-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none">
                <i class="fa-solid fa-phone absolute left-3 top-[39px] text-gray-700"></i>
            </div>

            <!-- Email -->
            <div class="relative mb-3">
                <label class="block mb-1 font-semibold text-gray-800">Email:</label>
                <input type="email" name="email" required
                        class="w-full border border-gray-300 rounded-md px-10 py-2 text-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none">
                <i class="fa-solid fa-envelope absolute left-3 top-[39px] text-gray-700"></i>
            </div>

            <!-- Password -->
            <div class="relative mb-3">
                <label class="block mb-1 font-semibold text-gray-800">Password:</label>
                <input type="password" id="password" name="password" autocomplete="new-password" placeholder="8 chars min" required
                        class="w-full border border-gray-300 rounded-md px-10 py-2 text-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none">
                <i class="fa-solid fa-lock absolute left-3 top-[39px] text-gray-700"></i>
                <button type="button" onclick="togglePassword('password', 'eye-password')" class="absolute right-6 top-[36px] text-slate-500 hover:text-slate-700">
                    <i id="eye-password" class="fa-solid fa-eye-slash"></i>
                </button>
            </div>

            <!-- Confirm Password -->
            <div class="relative mb-6">
                <label class="block mb-1 font-semibold text-gray-800">Confirm password:</label>
                <input type="password" id="confirm_password" name="confirm_password" autocomplete="new-password" placeholder="8 chars min" required
                        class="w-full border border-gray-300 rounded-md px-10 py-2 text-sm focus:ring-2 focus:ring-indigo-500 focus:outline-none">
                <i class="fa-solid fa-lock absolute left-3 top-[39px] text-gray-700"></i>
                <button type="button" onclick="togglePassword('confirm_password', 'eye-confirm')" class="absolute right-6 top-[36px] text-slate-500 hover:text-slate-700">
                    <i id="eye-confirm" class="fa-solid fa-eye-slash"></i>
                </button>
            </div>

            <!-- Submit -->
            <button type="submit"
                    class="w-full btn-shine cursor-pointer bg-indigo-600 text-white py-2.5 mb-2 rounded-md font-semibold hover:bg-indigo-800 transition">
                Sign up
            </button>

            <!-- Javascript response messages -->
            <p id="answer" class="hidden"></p>

            <!-- Divider -->
            <div id="divider" class="flex items-center mt-8 mb-8">
                <div class="flex-grow border-t border-gray-200"></div>
                <span class="mx-4 text-xs uppercase tracking-wider text-gray-400">or sign up with</span>
                <div class="flex-grow border-t border-gray-200"></div>
            </div>

            <!-- Social buttons -->
            <div class="flex flex-col sm:flex-row gap-4 mb-6">
                <a href="/auth/google"
                    class="flex-1 flex items-center justify-center gap-2 border border-gray-200 py-2 rounded-md text-gray-500 text-sm font-medium hover:text-gray-700 hover:border-gray-800 transition">
                    <img src="https://developers.google.com/identity/images/g-logo.png" class="w-4"> Google
                </a>

                <a href="#"
                    class="flex-1 flex items-center justify-center gap-2 border border-gray-200 py-2 rounded-md text-gray-500 text-sm font-medium hover:text-gray-700 hover:border-gray-800 transition">
                    <i class="fa-brands fa-facebook-f text-blue-600"></i> Facebook
                </a>
            </div>

            <!-- Footer -->
            <p class="text-center text-sm text-gray-500">
                Already have an account?
                <a href="/login" class="text-indigo-600 font-bold hover:underline">Sign in</a>
            </p>

        </form>
    </div>


    
    
    <script>
        // Header
        fetch('/pages/template/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            })
            .catch(error => console.error("Header load error:", error));
            
        // Show password function => a function with paameters because we want pass and confirm pass to have show password
        function togglePassword(inputId, eyeId) {
            const input = document.getElementById(inputId);
            const eye = document.getElementById(eyeId);
            
            if(input.type === 'password') {
                input.type = 'text';
                eye.className = 'fa-solid fa-eye';
            } else {
                input.type = 'password';
                eye.className = 'fa-solid fa-eye-slash';
            }
        }

        //Fetch response message from backend to display to the user
        const form = document.getElementById('signup');
        const answer = document.getElementById('answer');
        const divider = document.getElementById('divider');

        form.addEventListener('submit', async (e) => {
            e.preventDefault(); // prevent browser default behavior

            const formData = new FormData(form); // get all data from the form(input fields, checkbox, etc)
            const data = Object.fromEntries(formData.entries()); // convert formData to a regular object

            try {
                const res = await fetch('/api/signup', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })

                const result = await res.json(); // in JSON because in the controller we send JSON responses

                answer.classList.remove('hidden');
                divider.classList.remove('mt-8'); // just for better looks
                divider.classList.add('mt-4');

                if(res.ok) {
                    answer.className = "text-center text-sm text-green-600";
                    answer.textContent = result.message;
                    form.reset(); // reset the form fields after successful submission
                } else {
                    answer.className = "text-center text-sm text-red-600";
                    answer.textContent = result.error;
                }
            } catch (error) {
                answer.classList.remove('hidden', 'text-green-600');
                answer.className = "text-center text-sm text-red-600";
                answer.textContent = "An error occurred. Please try again later.";
            }
        })
    </script>
</body>
</html>