
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}