/* CONTAINERS */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.input_group{
    position: relative;
}
.input_group i{
    position: absolute;
    top: 35px;
    left: 12px;
    pointer-events: none;
}


/* TEXT */
#title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0px;
    color: #000;
}
p{
    text-align: center; 
    margin: 30px 0px;
}


/* FORM */
form{
    width: 100%;
    max-width: 480px;
    background-color: white;
    padding: 30px 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
form input{
    width: 100%;
    padding: 10px 10px 10px 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


/* BUTTON */
form button{
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
form button:hover{
    background-color: #1b1b1b;
}
#sign_up_button{
    margin-top: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    background-color: #f0f0f0;
    color: #555;
    transition: background-color 0.3s, color 0.3s;
}
#sign_up_button:hover{
    background-color: #e0e0e0;
    color: #333;
}
