body{
    font-size: 100%;
}


/* DIVS */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input_group{
    position: relative;
}
.input_group i{
    position: absolute;
    top: 2.1875rem;
    left: 0.75rem;
    pointer-events: none;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.875rem;
    gap: 1rem;
}


/* FORM */
form{
    width: 100%;
    max-width: 480px;
    background-color: white;
    padding: 1.875rem 2.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
form h1{
    text-align: center;
    margin-bottom: 1.25rem;
    color: #333;
    font-size: 1.75rem;
}
form label{
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: #555;
    font-size: 1rem;
}
form input{
    width: 100%;
    padding: 0.625rem 0.625rem 0.625rem 2.5rem;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
}


/* BUTTON */
form button{
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
form button:hover{
    background-color: #1b1b1b;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-weight: 500;
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    gap: 0.625rem;
    transition: color 0.3s, border 0.3s;
}
.button:hover{
    border: 1px solid #333;
    color: black;
}


/* DIVIDER */
.divider{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.9375rem 0 1.875rem 0;
    width: 100%;
    line-height: 0;
}
.divider::before,
.divider::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.divider:not(:empty)::before {
    margin-right: 1.25rem;
}

.divider:not(:empty)::after {
    margin-left: 1.25rem;
}
.divider span {
    font-size: 0.875rem;
    color: #555;
}


/* TEXT */
#verification{
    visibility: hidden;
    color: #e43333;
    font-size: 0.9375rem;
    text-align: center;
    margin-top: 0.625rem;
}
p{
    text-align: center;
    margin-top: 0.9375rem;
}


/* LINKS */
#sign_in{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
#sign_in:hover{
    text-decoration: underline;
    color: #333;
}



/* RESPONSIVE for laptop */
@media (max-width: 1800px) {
    .wrapper {
        flex-direction: column;
        max-width: 500px;
        margin: 0px auto;
    }
}
